body{
    padding: 0%;
    margin: 0%;
    width: 100dvw;
}
.back-sky{
    z-index: -2;
    position: fixed;
    width: 100%;
}
.left{
    position: absolute;
    width: 10.1vw;
    height: 10vw;
    background-color:#e28743;
    translate: 0vw 48.6vw;
    border-radius:100% 0% 100% 0% / 24% 100% 0% 76% ;
}
#left-b{
    position: absolute;
    width: 10.1vw;
    height:322.8vw;
    background-color:#e28743;
    translate: 0vw 55vw;
}
.right{
    transform: scale(-1,1);
    position: absolute;
    width: 9.1vw;
    height: 10vw;
    background-color:#e28743;
    translate: 90vw 43.1vw;
    border-radius:100% 0% 100% 0% / 48% 100% 0% 52% ;
}
#right-b{
    position: absolute;
    width: 9.1vw;
    height:327.8vw;
    background-color:#e28743;
    translate: 90vw 50vw;
}
.sky{
    z-index: -1;
    position: fixed;
    width: 80vw;
    translate: 10vw 10vw;
}
.twilight-square{
    z-index: -1;
    position: fixed;
    height: 46vw;
    width: 80vw;
    translate: 10vw 10vw;
    background-image: radial-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.117),rgba(0, 0, 0, 0.397));
}
.twilight-circle{
    z-index: -1;
    position: absolute;
    height: 45vw;
    width: 55vw;
    background-image: radial-gradient( rgba(0, 0, 255, 0),rgba(128, 0, 128, 0.329),rgba(0, 0, 255, 0.063),rgba(128, 0, 128, 0),rgba(128, 0, 128, 0));
    border-radius: 50%;
    translate: 30vw 25vw;
}
.pyra{
    position: absolute;
    width: 42vw;
    translate: 37vw 33vw;
}
.desert{
    position: absolute;
    width: 80vw;
    translate: 10vw 42vw;
    transform: scale(-1,1);
}
.man{
    position: absolute;
    height: 3vw;
    translate: 50vw 50vw;
}
.man-shadow{
    position: absolute;
    width: 2.5vw;
    translate: 50.8vw 50.3vw;
    transform: skew(-40deg);
    opacity: 0.1;
}
.bg-first-div{
    position: absolute;
    height: 50vw;
    width: 80vw;
    background-image: linear-gradient(#e6ad6f00,#e6ad6f,#e6ad6f,#e6ad6f,#e6ad6f,#e6ad6f,#e6ad6f);
    translate: 10vw 65vw;
}
.GOTO-tx{
    position: absolute;
    width: 80vw;
    font-size: 13.4vw;
    color: #d89a66;
    translate: 10vw 100vw;
}
#bg-second-div{
    position: absolute;
    width: 80vw;
    height: 190vw;
    background-color:#d89a66;
    translate: 10vw 112vw;
    transition: 200ms;
}
#buttom-stretch{
    position: absolute;
    translate: 0vw 17.8vw;
    margin: 0%;
    padding: 0%;
    transition: 220ms;
}
.bottom-behind{
    position: absolute;
    width: 80vw;
    height: 100vw;
    background-color: #e6ad6f;
    translate: 10vw 260vw;
}
.camel-shadow{
    position: absolute;
    opacity: 0.2;
    width: 20vw;
    height: 10vw;
    rotate: -2deg;
    translate: 48vw 347vw;
    transform: skew(-65deg);
}
.desert-bg{
    position: absolute;
    width: 80vw;
    translate: 10vw 307.5vw;
}
.camel{
    position: absolute;
    width: 20vw;
    translate: 40vw 338vw;
}
.bottom-front{
    opacity: 0.8;
    position: absolute;
    width: 80vw;
    height: 100vw;
    background-color: #e6ad6f;
    translate: 10vw 260vw;
}
#top-nav-bar{
     z-index: 15;
    position: absolute;
    width: 80vw;
    height: 5vw;
    translate: 10vw 10.5vw;
}
#front-fixed-web{
    position: fixed;
    z-index: -1;
}
#slider-menu{
    position: absolute;
    background-image: linear-gradient(#e6ad6f,#e6ad6f,#e6ad6fdd,#e6ad6fcd,#e6ad6fc1);
    width: 20vw;
    height: 40vw;
    border-radius: 0% 2vw 0% 0%;
    display: flex;
    flex-direction: column;
    transition: 300ms;
}
#slider-top{
    margin: 0vw;
    translate: 0vw 1.8vw;
}
#slider-gotoegypt-logo{
    scale: 0.6;
    translate: -1.7vw -2.5vw;
}
#circle-cross-symbol{
    color: #ffffff;
    font-size: 2.5vw;
    translate: 16.5vw -1vw;
    transition: 200ms;
}
#circle-cross-symbol:hover{
    color: #855a37;
}
#nav-checkbox{
    position: absolute;
    opacity: 0;
}
#slider-home{
    margin-top: 4vw;
}
.slider-button{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8vw;
    font-family: 'Kalam', cursive;
    translate: 5.5vw;
    margin: 0.6vw;
    transition: 200ms;
    width: 5em;
    text-align: center;
}
.slider-button:hover{
    color: #855a37;
    text-decoration: underline overline #855a37;
}
#slider_bottom{
    translate: 0vw 4vw;
}
.navv{
    width: 2vw;
    height: 2vw;
    padding-left: 2.3vw;
    transition: 200ms;
    opacity: 0.5;
}
.navv:hover{
    opacity: 1;
}

#nav-checkbox-label{
    font-size: 3vw;
    color: #e6ad6f;
    translate: 1.5vw 0.7vw;
    transition: 50ms;
}
#nav-checkbox-label:hover{
    scale: 1.1;
}
#home-nav{
    padding-left: 3vw !important;
}
.nav-ico{
    font-family: 'Kalam', cursive;
    color: white;
    text-decoration: none;
    padding: 0vw 1vw;
    font-size: 1.6vw;
    transition: 200ms;
    cursor: default;
}
.nav-ico:hover{
    color: #e6ad6f;
}
.logo1{
    position: absolute;
    font-size: 4vw;
    font-family: 'Noto Sans Linear B', sans-serif;
    color: white;
    font-weight: 600;
    translate: 52.5vw -0.5vw;
}
.logo1::after{
    position: absolute;
    font-size: 4vw;
    font-family: 'Noto Sans Linear B', sans-serif;
    color: #855a37;
    content: "EGYPT";
    font-weight: 600;
}
#scroll-down{
    position: absolute;
}
.top-fixed{
    color: white;
    position: fixed;
    width: 45vw;
    text-align: center;
    translate: 27vw 17vw;
}
.hid_top1{
    font-size: 1vw;
    font-weight:500;
    color: #ad764a;
    font-family: 'Roboto', sans-serif;
    translate: 0vw 0.5vw;
}
.hid_top2{
    width: 60vw;
    line-height: 3vw;
    font-size: 3vw;
    translate: -7vw -2vw;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
#arrow-down{
    translate: 0vw -3vw;
    font-size: 2vw;
    cursor: default;
}
#arrow-down:hover{
    color: #ad764a;
}
#scroll-write{
    position: absolute;
    color: white;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-size: 0.7vw;
    translate: 20vw -3.5vw;
}

#top-moving{
    position: absolute;
    width: 80vw;
    margin-left: 10vw;
    color: white;
    translate: 0vw 70vw;
}

.sec1{
    font-weight: 500;
    width: 10vw;
    font-size: 1vw;
    color: #603716;
    font-family: 'Roboto', sans-serif;
    translate: 37vw 2.5vw;
    font-weight: 500;
}
.sec2{
    width: 0vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    translate: 27vw 0vw;
}
.sec2::before{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    color: #855a37;
    content: "Egyptian";
}
.sec3{
    position: relative;
    width: 30vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.5vw;
    translate: 10vw 1vw;
    font-family: 'Playfair Display', serif;
}
.sec4{
    position: relative;
    width: 28vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.5vw;
    translate: 42.5vw -10.5vw;
    font-family: 'Playfair Display', serif;
}
#vidd{
    height:35vw;
    translate:10vw -10vw;
}
#vidd[poster]{
    height: 35vw;
    width: 60.9vw;
}
.sev1{
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
    color: #603716;
    font-family: 'Roboto', sans-serif;
    translate: 2vw 0vw;
}
.sev2{
    text-align: center;
    width: 35vw;   
    font-weight: 600;
    translate: 24vw -2vw;
    line-height: 3.7vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}
.sev2::after{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    color: #603716;
    content: " ancient Egypt";
}
.readme-head{
    translate: 8vw 5vw;
    line-height: 3.7vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    width: 30vw;
    line-height: 3.5vw;
    text-align: left;
}
.content-para{
    font-size: 1.5vw;
    position: absolute;
    translate: 8vw 5vw;
    width: 35vw;
    text-overflow: clip;
    overflow: hidden;
    transition: 200ms;
}
#khamun-para{
    height: 17.5vw;
}
.readmore-class{
    width: 10vw;
    font-size: 1.5vw;
    text-decoration: underline black;
    color: black;
    transition: 200ms;
}
.readmore-class:hover{
    text-decoration: none;
}
#readmore-1{
    translate: 8vw 23vw;
}
#khamun-set{
    z-index: -1;
    position: absolute;
}
.khamun{
    width: 35vw;
    translate: 37vw -10vw;
}
.khamun-back{
    z-index: -1;
    position: absolute;
    height: 25vw;
    width: 25vw;
    translate: 49vw -33vw;
    background-image: linear-gradient(45deg,#e5b894,#e5b89470,#e5b89424,#e5b89400);
    animation: back-rotation 2s ease-in-out infinite alternate-reverse;
}
@keyframes back-rotation{
    from{
        rotate: 120deg;
    }
    to{
        rotate: 105deg;
    }
}
.khamun-shadow{
    width: 30vw;
    height: 2vw;
    translate: 46vw -10vw;
    border-radius: 50%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.299),rgba(0, 0, 0, 0.275),rgba(0, 0, 0, 0.242),rgba(0, 0, 0, 0.066),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
}
#readme-2{
    z-index: -1;
    position: absolute;
    transition: 200ms;
    translate: 0vw 0vw;
}
#cat-head{
    translate: 40vw 25vw;
}
#cat-para{
    translate: 40vw 25vw;
    height: 12.1vw;
}
#readmore-2{
    translate: 40vw 38vw;
}
#cat-set{
    position: absolute;
    z-index: 5;
}
.cat{
    width: 18vw;
    translate: 10vw 10vw;
}
.cat-back{
    z-index: -1;
    position: absolute;
    height: 26vw;
    width: 26vw;
    rotate: 105deg;
    border-radius: 50%;
    translate: 5vw -14vw;
    background-image: linear-gradient(45deg,#e5b894,#e5b89470,#e5b89424,#e5b89400);
    animation: cat-back-rotation 4s ease-in-out infinite alternate-reverse;
}
@keyframes cat-back-rotation{
    from{
        rotate: 105deg;
        border-radius: 50%;
    }
    to{
        rotate: 155deg;
        border-radius: 20%;
    }
}
.cat-shadow{
    width: 30vw;
    height: 2vw;
    translate: 4.5vw 10vw;
    border-radius: 50%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.299),rgba(0, 0, 0, 0.275),rgba(0, 0, 0, 0.242),rgba(0, 0, 0, 0.066),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
}
#show-more{
    translate: 32vw 65vw;
    padding: 0%;
    margin: 0%;
    width: 15vw;
    height: 3vw;
    border: 0.2vw #603716 solid;
    border-radius: 5px;
    color: #603716;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    transition: 200ms;
}
#show-more-para{
    translate: 1vw -2.5vw;
    padding: 0%;
    height: 0%;
}
#show-more-arrows{
    translate: 0.8vw 0.5vw;
    font-size: 2vw;
    transition: 200ms;
}
#push-down{
    translate: 0vw 0vw;
    transition: 200ms;
}
#readme-3{
    width: 80vw;
    height: 0vw;
    overflow: hidden;
    position: absolute;
    translate: 0vw 57.5vw;
    transition: 200ms;
}
.animal{
    width: 32vw;
    translate: 45vw -3vw;
}
.animal-back{
    z-index: -1;
    position: absolute;
    height: 15vw;
    width: 30vw;
    translate: 46vw -20vw;
    background-image: linear-gradient(145deg,#e5b894,#e5b89470,#e5b89424,#e5b89400);
    animation: animal-back-rotation 6s ease-in-out infinite alternate-reverse;
}
@keyframes animal-back-rotation{
    from{
        border-radius: 91% 9% 77% 23% / 30% 91% 9% 70% ;
    }
    to{
        border-radius: 39% 61% 27% 73% / 76% 41% 59% 24% ;
    }
}
.animal-shadow{
    width: 30vw;
    height: 2vw;
    background-image: radial-gradient(rgba(0, 0, 0, 0.299),rgba(0, 0, 0, 0.275),rgba(0, 0, 0, 0.242),rgba(0, 0, 0, 0.066),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
    border-radius: 50%;
    translate: 45vw -6vw;
}
#animal-set{
    translate: 0vw 8vw;
}
#push-push{
    translate: 0vw 78vw;
    position: absolute;
}
#auto-matic{
    height: 20vw;
    width: 80vw;
    position: absolute;
}
#go-back{
    translate: 36vw -5vw;
    color: #603716;;
}
#second-line{
    width: 32vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    translate: 25vw -4.5vw;
}
#second-line::after{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    color: #603716;
    content: " experiences";
}
.match-box{
    width: 40vw;
    translate: 19vw -3.5vw;
    text-align: center;
}

#red-frame{
    scale: 0.8;
    position: absolute;
    translate:12.5vw 8vw;
    transition: 600ms;
}
#red-pyramid{
    border-radius: 20px;
    position: absolute;
    width: 23vw;
}
#cairo-frame{
    translate: 28.5vw 5vw;
    position: absolute;
    transition: 600ms;
}
#cairo-pyramid{
    border-radius: 20px;
    position: absolute;
    width: 23vw;
}
#valley-frame{
    z-index: -1;
    scale: 0.8;
    translate: 49vw 8vw;
    position: absolute;
    transition: 600ms;
}
#valley-pyramid{
    border-radius: 20px;
    position: absolute;
    width: 23vw;
}
.frame-loca{
    translate: 10.5vw 25vw;
    position: absolute;
    font-size: 1vw;
    font-family: 'Noto Sans Mandaic', sans-serif;
}
.frame-name{
    position: absolute;
    font-size: 2.4vw;
    width: 20vw;
    translate: 2vw 26vw;
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

#pencil{
    z-index: -1;
    position: absolute;
    width: 8vw;
    height: 2vw;
    translate: 2.8vw 22.4vw;
}
#cutter{
    z-index: -1;
    position: absolute;
    width: 8vw;
    height: 2vw;
    translate: 69.2vw 22.4vw;
}

#back-slide{
    color: #603716;
    font-family: 'Noto Sans Mandaic', sans-serif;
    letter-spacing: 0.1vw;
    font-weight: 600;
    font-size: 1.2vw;
    translate: 5.5vw 22.75vw;
    width: 5vw;
}
#left-arr{
    font-size: 2vw;
    color: #603716;
    translate: 3.5vw 21vw;
}
#next-slide{
    color: #603716;
    font-family: 'Noto Sans Mandaic', sans-serif;
    letter-spacing: 0.1vw;
    font-weight: 600;
    font-size: 1.2vw;
    translate: 71vw 19.2vw;
    width: 5vw;
}
#right-arr{
    font-size: 2vw;
    color: #603716;
    translate: 74.5vw 17.45vw;
}
#push-push{
    position: absolute;
    translate: 0vw 78vw;
    transition: 200ms;
}

#my-foot{
    position: absolute;
    translate: 0vw 50vw;
    width: 80vw;
    height: 78vw;
}
#sponsors{
    position: absolute;
    width: 32vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    translate: 23vw 0vw;
    text-align: center;
}
#sponsors::after{
    color: #603716;
    content: " Partners";
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}
.looogo{
    padding-left: 3.5vw;
    display: inline-block;
    width: 15vw;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.664));
    transition: 300ms;
}
.looogo:hover{
    scale: 1.1;
    filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.63));
}
#nat-geo{
    translate: 0vw 9vw;
}
#pyramid-inter{
    translate: 2vw 10.2vw;
}
#bbc{
    width: 10vw;
    translate: 6vw 10vw;
}
#lonely-planet{
    translate: 8vw 8.5vw;
    width: 13vw;
}
#hrr{
    translate: 4vw 61.5vw;
    width: 72vw;
    height: 0vw;
    border: 0.2px solid #603716;
}
.writing{
    font-size: 1vw;
    color: #603716;
    translate: 0vw 61vw;
    display: inline-block;
    margin-left: 4vw;
    font-family: 'DM Serif Display', serif;
}
#sym-logo{
    font-weight: 900;
    color: white;
    font-size: 1.4vw;
    font-family: 'Noto Sans Mandaic', sans-serif;
    position: absolute;
    margin-left: 20vw;
    margin-top: 0.8vw;
}
#privacy{
    position: absolute;
    margin-left: 40vw;
}
#disclaimer{
    position: absolute;
    margin-left: 48vw;
}
#contact{
    position: absolute;
    margin-left: 57.5vw;
}
#contact-me{
    position: absolute;
}
#front-contact{
    border-radius: 10px;
    translate: 8vw 17vw;
    position: absolute;
    background-color: #603716;
    width: 19vw;
    height: 25vw;
    font-family: 'Noto Sans Mandaic', sans-serif;
}
#contact-info{
    font-size: 2vw;
    translate: 2vw -0.5vw;
}
.contact-pop{
    translate: 0vw -2.4vw;
    font-weight: 100 !important;
    font-size: 2.3vw !important;
}
#icon-link{
    translate: 1.4vw 3.3vw;
}
.contact-nav{
    opacity: 1;
    padding-left: 0.8vw;
    scale: 0.8;
}
.contact-nav:hover{
    scale: 1;
}
.dom{
    width: 15vw;
    translate: 4.5vw;
    font-size: 0.9vw;
}
#addd{
    translate: 1.9vw -2.4vw;
    scale: 1.25;
}
#maiil{
    translate: 1.9vw -1.8vw;
}
#call{
    translate: 1.9vw -1.8vw;
}




#back-contact{
    translate: 17vw 14.5vw;
    position: absolute;
    height: 30vw;
    width: 55vw;
    background-color: #ffffff60;
    border: #603716 solid 0.2vw;
    border-radius: 10px;
}
#send-msg{
    color: #603716;
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-size: 2vw;
    translate: 12vw 4vw;
    font-weight: 500;
    width: 50vw;
}
#text01{
    translate: 12vw 4.7vw;
    width: 18vw;
}
#text02{
    translate: 33.5vw 1.3vw;
    width: 18vw;
}
#text03{
    translate: 12vw 2vw;
    width: 18vw;
}
#text04{
    translate: 33.5vw -1.2vw;
    width: 18vw;
}
#text05{
    translate: 12vw -1vw;
    width: 39.5vw;
    height: 7vw;
}
.saale{
    font-size: 1vw;
    position: relative;
    z-index: 1;
    pointer-events: none;
    transition: 0.2s;
    font-family: 'Noto Sans Mandaic', sans-serif;
    color: black;
}
.wd10{
    font-family: 'Noto Sans Mandaic', sans-serif;
    font-size: 1.2vw;
    width: 18vw;
    position: relative;
    resize: none;
    border: none;
    outline: none;
    border-bottom: #603716 0.1vw solid;
    height: 2vw;
}
#first-name{
    translate: 12vw 4.7vw;
    width: 18vw;
}
#last-name{
    translate: 33.5vw 1.3vw;
}
#email-me{
    translate: 12vw 2vw;
}
#not-number{
    translate: 33.5vw -1.2vw;
}
#do-not-write{
    translate: 12vw -1vw;
    font-size: 1vw;
}
#boka-sala{
    translate: -27.4vw 0.5vw;
    border: none;
    scale: 1.5;
    color: white;
    background-color: #603716;
}