#back{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 100%;
    padding: 0% 10% 0%;
    z-index: 0;
    translate: 0vw 47vw;
}
.man{
    position: absolute;
    z-index: 1;
    translate: 9vw -28.8vw;
    scale: 0.05;
}
.man-shadow{
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    scale: 0.1;
    transform: skew(-45deg);
    translate: 28.59vw -8.7vw;
}
body{
    background-color: brown;
} 
.sky-pro1{
    z-index: -2;
    position: fixed;
    width: 99.7vw;
    translate: -1vw -1vw;
}
.sky{
    position: fixed;
    opacity: 1;
    z-index: -2;
    translate: 10vw 10vw;
    width: 78.5%;
}
.twilight{
    z-index: 0;
    position: absolute;
    background-image: radial-gradient( rgba(255, 0, 162, 0.523),rgba(255, 0, 247, 0.209),rgba(194, 25, 232, 0.155),rgba(7, 238, 246, 0),rgba(0, 71, 252, 0));
    translate:32vw 12vw;
    scale: 0.7;
    padding:30%;
}
.twilight-bb{
    z-index: -1;
    position: fixed;
    opacity: 0.5;
    width: 77.8vw;
    height: 50vw;
    translate: 10vw 10vw;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.105),black);
}
.pyra{
    position: relative;
    transform: scale(0.6);
    translate: 11vw -21vw;
}
.desert{
    position: absolute;
    width: 80%;
    transform: scale(-1,1);
    translate: 0vw -4.5vw;
    padding: 0%;
}
.bg-first-div{
    position: absolute;
    background-image: linear-gradient(#da9f7419,#d29c6c,#d29c6c,#d29c6c,#d29c6c,#d29c6c,#d29c6c,#dea86e,#e7b37d,#e7b37d);
    margin-top: 17%;
    padding: 40% 40%;
}
.bg-second-div{
    position: relative;
    background-color:#c38151;
    margin-top: 24.5vw;
    padding: 90% 50%;
    min-width: 0.3%;
}
.textt{
    opacity: 0;
   rotate: 0.1deg;
   translate: 0.4% 58.5vw;
} 
.GOTO-tx{
    rotate: 0.2deg;
    position: absolute;
    z-index: 1;
    font-size: 13.45vw;
    translate: -0.7vw 53vw;
    color:#c38151;
    font-family: 'Playfair Display', serif;
}
.bottom-behind{
    position: absolute;
    background-color:#e58a56;
    padding: 50% 40.05%;
    margin-top:210.2% ;
}
.desert_bg{
    width: 100.28%;
    scale: 1;
    opacity: 0.2;
    margin-top: 47%;
}
.camel{
    z-index: 2;
    scale: 0.3;
    margin-top: -69%;
}
.camel-shadow{
    z-index: 1;
    opacity: 0.8;
    background-image: radial-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.573),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
    padding: 10% 1% 0%;
    scale: 0.5;
    rotate: -5deg;
    translate: 3% 1100%;
}
.bottom-front{
    z-index: 3;
    opacity: 0.4;
    position: absolute;
    background-color:#eebc93;
    padding: 50% 40.03%;
    margin-top: 210.2%;
}
.left{
  position: absolute;
  padding: 7.6% 10%;
  margin: 49.2% -1%;
  border-radius: 100% 0% 100% 0% / 16% 100% 0% 84%  ;
  background-image:linear-gradient(#e1a565,#ce925c,#e1a565 ,#ce925c);
}
.left-b{
  position: absolute;
  padding: 101.20% 8% 188.9%;
  margin: 64.4% -.9%;
  background-color: #ce925c;
}
.right{
    position: absolute;
    padding: 10.7% 10%;
    margin: 42.9% 79.6%;
    border-radius:100% 0% 100% 0% / 35% 100% 0% 65% ;
    background-image:linear-gradient(#fac577,#fac577,#fac577,#fac577);
  }
.right-b{
    position: absolute;
    padding: 101.2% 8% 189.3%;
    margin: 64% 83.6%;
    background-image:linear-gradient(#fac577,#ce925c,#ce925c,#ce925c);
} 
#front{
    position: absolute;
    color: white;
    font-size: 2vw;
}
#navi{
    z-index: -1;
    position: fixed;
    display: flex;
    font-size: 3vw;
    width: 73vw;
    translate: 18% 280%;
}
.logo1{
    font-family: 'Exo 2', sans-serif;
    font-family: 'IM Fell French Canon', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    translate: 0.7vw;
    color: white;
}
.logo2{
    z-index: -1;
    font-family: 'Exo 2', sans-serif;
    font-family: 'IM Fell French Canon', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #ad764a;
}
#logon{
    display: flex;
    width: 80vw;
    translate: 0% -14%;
    justify-content: right;
}
#nav-div{
    display: flex;
}
.nav-ico{
    max-width: 9vw;
    margin:0.2vw -1.8vw 0vw 0vw ;
    scale: 0.5;
    color: white;
    text-decoration: none;
    transition: 2ms;
    height:10px;
    font-family: 'Playfair Display', serif;
}
.nav-ico:hover{
    scale: 0.52;
}
.gg-menu-grid-o{
    scale: 2;
    color: #ad764a;
    position: relative;
    translate: -1.3vw 1vw;
}
.gg-menu-grid-o:hover{
    scale: 2.2;
}
#fle{
    z-index: 1;
    background-image: linear-gradient(#e5b894,#e5b894,#e5b894e3,#e5b894d7); 
    color: rgb(255, 255, 255);
    width: 30vw;
    height: 39vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-size: cover;
    margin: -1.9vw -55vw;
    transition: 1s;
    border-radius: 0vw 5vw 0vw 0vw;
}
.menu-logo{
    scale:0.65;
    translate: -3vw -2.5vw;
}
.material-symbols-outlined{
    scale: 3;
    translate: 26.5vw -7.8vw;
}
.material-symbols-outlined:hover{
    scale: 3.2;
}
#rat{
    margin: 0px;
    translate: 0% 40%;
}
.para{
    margin:0vw 5vw 0vw 8.5vw;
    translate: 0vw -3vw;
    transition: 100ms;
    scale: 0.6;
    font-family: 'Permanent Marker', cursive;
}
.navv{
    width: 2vw;
    height: 2vw;
    padding-right: 4vw;
    transition: 200ms;
    opacity: 0.5;
}
.navv:hover{
    opacity: 1;
    scale: 1.1;
}
#navvv{
    display: flex;
    translate:2vw -1.7vw;
    justify-content: center;
    align-content: flex-end;
}
.para:hover{
    scale: 0.62;
} 
#barr:checked ~ #fle{
    animation: menun 0.4s ease-out ;
    animation-fill-mode: forwards;
}
@keyframes menun{
    0%{
        opacity: 0;
        margin: -1.8vw -50vw;
    }
    60%{
        opacity: 0.4;
        margin: -1.9vw -20ve;
    }
    100%{
        opacity: 1;
        margin: -1.9vw -4.5%;
    }
}
#barr{
    opacity: 0;
}
.top-fixed{
    z-index: -2;
    position: fixed;
    width: 45vw;
    text-align: center;
    translate: 27vw 17vw;
}
.hid_top1{
    font-size: 1vw;
    font-weight:500;
    color: #ad764a;
    font-family: 'Roboto', sans-serif;
    translate: 0vw 0.5vw;
}
.hid_top2{
    font-size: 2.4vw;
    translate: 0vw -2vw;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.above-all{
    height: 0vw;
}
.VDO{
    translate: 10vw 65vw;
    width: 78vw;
    color: white;
    text-align: center;
}
.sec1{
    font-weight: 500;
    font-size: 1vw;
    color: #855a37;
    font-family: 'Roboto', sans-serif;
    translate: 0vw 2.5vw;
}
.sec2{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}
.sec2::before{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    color: #855a37;
    content: "Egyptian";
}
.sec3{
    position: relative;
    width: 30vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.5vw;
    translate: 8vw 1vw;
    font-family: 'Playfair Display', serif;
}
.sec4{
    position: relative;
    width: 28vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.5vw;
    translate: 42vw -10.5vw;
    font-family: 'Playfair Display', serif;
}
#vidd{
    height:35vw;
    width:63vw;
    translate: 0vw -10vw;
}
#vidd[poster]{
    height:100%;
}
#scroll-d{
    position: fixed;
    scale: 3;
    color: white;
    translate: 49vw 30vw;
}
#scroll-d:hover{
    scale: 3.3;
}
#readme-1{
    position: absolute;
    color: white;
    text-align: center;
    translate: 14vw 60vw;
    width: 70vw;
    height: 50vw;
}
.sev1{
    font-size: 1vw;
    font-weight: 500;
    color: #603716;
    font-family: 'Roboto', sans-serif;
    translate: 0vw 2.5vw;
}
.sev2{
    width: 40vw;   
    translate: 15vw 1vw;
    line-height: 3.7vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}
.sev2::after{
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    color: #603716;
    content: " ancient Egypt";
}
.sev3{
    translate: 2vw 5vw;
    line-height: 3.7vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    width: 30vw;
    line-height: 3.5vw;
    text-align: left;
}
#sev4{
    position: relative;
    width: 30vw;
    height: 10vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.2vw;
    translate: 2vw 2.8vw;
    font-family: 'Playfair Display', serif;
    text-overflow: clip;
    white-space: pre-line;
    overflow: hidden;
    transition: 200ms;
}
#readme1{
    color: #4f321a;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    translate: 2vw 13vw;
    text-decoration: underline;
}
#lo{
    color: #4f321a;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    translate: 2vw 13vw;
    text-decoration: underline;
    translate:102vw 1vw;
}
#readcheck{
    opacity: 0;
}
#readcheck:checked ~ #sev4{
    height: 20vw;
}
#readcheck:checked ~ #loo{
    opacity: 0;
}
#readcheck:checked ~ #lo{
    opacity: 1;
    translate:-6.4vw 1vw;
}
.khamun{
    scale: 0.5;
    translate: 13.5vw -33vw;
}
.khamun-back{
    z-index: -1;
    position: absolute;
    height: 20vw;
    width: 20vw;
    rotate: 105deg;
    translate: 44vw -65vw;
    background-image: linear-gradient(45deg,#e5b894,#e5b89470,#e5b89424,#e5b89400);
}
.shadow1{
    width: 20vw;
    height: 2vw;
    translate: 42vw -45vw;
    border-radius: 30%;
    background-image:radial-gradient(rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.169),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) );
}
.shadow2{
    width: 20vw;
    height: 2vw;
    translate: 45vw -47vw;
    border-radius: 30%;
    background-image:radial-gradient(rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.169),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) );
}
.readme-2{
    position: relative;;
    translate: 55vw 117vw;
    width: 30vw;
    text-align: center;
    color: white;
}
.cat1{
    line-height: 3.7vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
    width: 30vw;
    line-height: 3.5vw;
    text-align: left;
}
.cat2{
    width: 30vw;
    line-height: 2.5vw;
    text-align: left;
    font-size: 1.2vw;
    font-family: 'Playfair Display', serif;
}
.readme2{
    translate: 0vw -2vw;
    color: #4f321a;
    position: absolute;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}
.cat{
    scale: 0.4;
    translate: -49vw -40vw;
}
.cat-back{
    z-index: -1;
    position: absolute;
    height: 23vw;
    width: 23vw;
    rotate: 105deg;
    border-radius: 50%;
    translate: -37vw -78vw;
    background-image: linear-gradient(45deg,#e5b894,#e5b89470,#e5b89424,#e5b89400);
}
.shadow1c{
    translate: -37vw -59vw;
    width: 20vw;
    height: 2vw;
    border-radius: 30%;
    background-image:radial-gradient(rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.169),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) );
}
.shadow2c{
    translate: -34vw -61vw;
    width: 20vw;
    height: 2vw;
    border-radius: 30%;
    background-image:radial-gradient(rgba(0, 0, 0, 0.186),rgba(0, 0, 0, 0.169),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) );
}